.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.black { color: black; }


.vis-item.red {
  background-color: red;
  border-color: darkred;
}

.vis-item.orange {
  background-color: gold;
  border-color: orange;
}

.vis-item.magenta {
  background-color: magenta;
  border-color: purple;
}

.vis-item.blue {
  background-color: blue;
  border-color: darkblue;
}

.vis-item.green {
  background-color: green;
  border-color: darkgreen;
}

.vis-item.grey {
  background-color: grey;
  border-color: darkgrey;
}

.vis-item.pink {
  background-color: lightpink;
  border-color: lightsalmon;
}

.sortable {
	padding: 5px;
	margin: 5px;
	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
  	border-radius: 6px;
  	background-color: #9E9E9E;
}

#footer {
  background-color: #33691E;
  position: absolute;
  height: 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#page-container {
  background-color: #f1f1f1;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  -webkit-transition: height 100ms linear;
  -moz-transition: height 100ms linear;
  -o-transition: height 100ms linear;
  -ms-transition: height 100ms linear;
  transition: height 100ms linear;
}

.small {
  top: 70px;
}

.big {
  top: 100px;
}

#workspace {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

#my-timeline{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

md-tabs.main-tabs {
	position: static !important;
}

#button {
  height: 22px;
  width: 22px;
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button:hover {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: default;
}

#button:active {
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: default;
}

#button:focus {
    outline: none;
    border: 0;
}

md-menu-bar {
    height: 35px !important;
}


md-menu-bar .md-menu {
  height: 35px !important;
}

md-menu-bar button {
  height: 35px !important;
}

md-toolbar.my-toolbar {
  min-height: 30px !important;
  height: 30px !important;
}

md-toolbar.my-bottom-toolbar {
  position:absolute;
  bottom:0px;
  min-height: 20px !important;
  height: 20px !important;
}

.my-menu .md-toolbar-tools {
  font-size: 25px;
  padding-top: 5px;
  height: 35px !important;
}

md-datepicker {
  padding-top: 14px;
}

.radioButtondemoMultiColumn .md-checked {
  background-color: #ECFAFB;
  border-radius: 2px; }
.radioButtondemoMultiColumn .row {
  border-bottom: 1px dashed #ddd; }
.radioButtondemoMultiColumn div.row:last-child {
  border-bottom: 0px dashed #ddd; }
  
.no-margin {
	margin:0px;}  

.md-button.md-fab.md-mini {
      line-height: 3rem;
      width: 35px;
      height: 34px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 1px;
}

.sub-list {
	-webkit-box-shadow: inset 0px -1px 2px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: inset 0px -1px 2px 1px rgba(0,0,0,0.35);
	box-shadow: inset 0px -1px 2px 1px rgba(0,0,0,0.35);
}
/*
xx{
  position: relative;
  padding-top: 10px;
  top: 10px;
}

input[type="number"] {
   width:37px;
}

#column-time {
  width: 140px;
  margin-left: 10px;
}

#column {
  width: 150px;
}

colon {
  margin-top: 5px;
  display: inline-block;
}

.add-job {
  height: 600px !important;
  width: 800px !important;
}

.small {
  top: 70px;
}

.big {
  top: 100px;
}

#footer {
  background-color: #33691E;
  position: absolute;
  height: 20px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#workspace {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}



.tabsdemoStaticTabs md-tabs{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#my-timeline{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#my-jobs{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 10px;
  bottom: 0px;
}

#button {
  height: 22px;
  width: 22px;
  background-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button:hover {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: default;
}

#button:active {
  box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  cursor: default;
}

#button:focus {
    outline: none;
    border: 0;
}

md-toolbar.my-toolbar {
  min-height: 30px !important;
  height: 30px !important;
}

.my-menu .md-toolbar-tools {
  font-size: 25px;
  padding-top: 5px;
  height: 35px !important;
}

.my-toolbar .md-toolbar-tools {
  height: 30px !important;
  padding-top: 0px;
}

md-toolbar.md-theme-light{
  min-height: 30px;
  height: 30px;
}

md-datepicker {
  padding-top: 14px;
}

.md-datepicker-input-container {
  margin-left: 0px;
}

md-menu-bar {
    height: 35px !important;
}

md-input-container.dialog-input {
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
}

md-menu-bar .md-menu {
  height: 35px !important;
}

md-menu-bar button {
  height: 35px !important;
}

md-ink-bar {
    height: 4px;
}

.tabsdemoStaticTabs md-tab-content:nth-child(1) {
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.tabsdemoStaticTabs md-tab-content:nth-child(2) {
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center; 
}
  
.tabsdemoStaticTabs md-tab-content:nth-child(3) {
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

.vis-item.green {
  background-color: greenyellow;
  border-color: green;
}

.vis-item.red {
  background-color: red;
  border-color: darkred;
}

.vis-item.orange {
  background-color: gold;
  border-color: orange;
}

.vis-item.magenta {
  background-color: magenta;
  border-color: purple;
}

.200 {
  height: 200px;
}

#vertical-container {
    min-height: 300px;
    width: 100%;
}

.repeated-item {
    border-bottom: 1px dotted #757575;
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    margin-right: 16px;
}

h6.nobr { 
	white-space: nowrap; 
	min-width: 200px;
}

*/