.js-main-workspace {
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
}

#js-timeline {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
}

#js-page-container {
    background-color: #f1f1f1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    top: 70px;
    -webkit-transition: height 100ms linear;
    -moz-transition: height 100ms linear;
    -o-transition: height 100ms linear;
    transition: height 100ms linear;
}

#js-page-container.extended {
    top: 0px;
}

#js-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#login-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-image: url(../common/background.jpg);*/
    background-size: cover;
}

#login-frame {
    width: 350px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.radius-inherit {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.black {
    color: black;
}

.material-icons.md-18-90deg {
    font-size: 18px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.md-button.js-icon {
    min-width: 0;
    margin: 6px 6px;
}

.vis-item.red {
    background-color: red;
    border-color: darkred;
}

.vis-item.orange {
    background-color: gold;
    border-color: orange;
}

.vis-item.magenta {
    background-color: magenta;
    border-color: purple;
}

.vis-item.blue {
    background-color: blue;
    border-color: darkblue;
}

.vis-item.green {
    background-color: green;
    border-color: darkgreen;
}

.vis-item.grey {
    background-color: grey;
    border-color: darkgrey;
}

.vis-item.pink {
    background-color: lightpink;
    border-color: lightsalmon;
}

.sortable {
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #9E9E9E;
}

.js-button {
    height: 22px;
    padding: 2px;
    background-color: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 4px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.js-button:hover {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.js-button:active {
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.js-button:focus {
    outline: none;
    border: 0;
}
.js-button-label {
    margin-left: 2px;
    margin-right: 2px;
}

.js-toolbar-tools {
    font-size: 25px !important;
    padding-top: 5px !important;
    height: 35px !important;
}

.pointer {
    cursor: pointer;
    outline: none;
}

.no-margin {
    margin: 0;
}

.js-margin-16 {
    margin: 16px 0;
}

.js-side-padding {
    padding: 0 16px;
}

.js-padding {
    padding: 6px;
}

.js-edit-buttons-toolbar {
    padding-top: 2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    height: 30px;
    display: inline-block;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
}

.sub-list {
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    max-height: 400px;
}

.menu-button {
    height: 35px !important;
}

.js-list {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    bottom: 0;
}

.exp-container {
    height: 48px;
}

.md-subheader ._md-subheader-inner {
    padding: 0;
}

.md-subheader .md-subheader-inner {
    padding: 0;
}

.md-button.md-icon-button {
    margin: 0;
}

md-list-item, md-list-item ._md-list-item-inner {
    height: 48px;
}

md-list-item .md-list-item-inner>md-checkbox, md-list-item>md-checkbox {
    margin-right: 16px;
}

md-list-item ._md-list-item-inner>md-checkbox, md-list-item>md-checkbox {
    margin-right: 16px;
}

md-menu-bar md-menu {
    height: 35px !important;
}

md-toolbar.js-toolbar {
    min-height: 30px !important;
    height: 30px !important;
    padding-left: 16px;
    padding-top: 4px;
}

md-toolbar.js-toolbar-workspace {
    min-height: 30px !important;
    height: 30px !important;
}

md-toolbar.js-bottom-toolbar {
    position: absolute;
    bottom: 0;
    min-height: 20px !important;
    height: 20px !important;
}

md-tabs.main-tabs {
    position: static !important;
}

md-datepicker {
    padding-top: 14px;
}

md-tooltip.md-content {
    background-color: rgba(70, 70, 70, 0.90);
}
