#js-workspace {
    background-color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

#js-timeline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#js-page-container {
    background-color: #f1f1f1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    -webkit-transition: height 100ms linear;
    -moz-transition: height 100ms linear;
    -o-transition: height 100ms linear;
    transition: height 100ms linear;
}

#js-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.black {
    color: black;
}

.material-icons.md-18-90deg {
    font-size: 18px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.vis-item.red {
    background-color: red;
    border-color: darkred;
}

.vis-item.orange {
    background-color: gold;
    border-color: orange;
}

.vis-item.magenta {
    background-color: magenta;
    border-color: purple;
}

.vis-item.blue {
    background-color: blue;
    border-color: darkblue;
}

.vis-item.green {
    background-color: green;
    border-color: darkgreen;
}

.vis-item.grey {
    background-color: grey;
    border-color: darkgrey;
}

.vis-item.pink {
    background-color: lightpink;
    border-color: lightsalmon;
}

.sortable {
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #9E9E9E;
}

.small {
    top: 70px;
}

.big {
    top: 100px;
}

.js-button {
    height: 22px;
    width: 22px;
    background-color: transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js-button:hover {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.js-button:active {
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.js-button:focus {
    outline: none;
    border: 0;
}

.md-toolbar-tools {
    font-size: 25px;
    padding-top: 5px;
    height: 35px !important;
}

.radioButtondemoMultiColumn .md-checked {
    background-color: #ECFAFB;
    border-radius: 2px;
}

.radioButtondemoMultiColumn .row {
    border-bottom: 1px dashed #ddd;
}

.radioButtondemoMultiColumn div.row:last-child {
    border-bottom: 0 dashed #ddd;
}

.custom {
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    cursor: default;
}

.selected {
    background-color: #33691E;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.35);
    cursor: default;
}

.radioButtondemoMultiColumn md-grid-tile figure:active {
    background-color: #33691E;
    outline: none;
    border: 0;
}

.radioButtondemoMultiColumn md-grid-tile:focus {
    outline: none;
    border: 0;
}

.no-margin {
    margin: 0;
}

.md-button.md-fab.md-mini {
    line-height: 3rem;
    width: 35px;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
}

.sub-list {
    -webkit-box-shadow: inset 0 -1px 2px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0 -1px 2px 1px rgba(0, 0, 0, 0.35);
    box-shadow: inset 0 -1px 2px 1px rgba(0, 0, 0, 0.35);
}

button {
    height: 35px !important;
}

md-menu-bar md-menu {
    height: 35px !important;
}

md-toolbar.js-toolbar {
    min-height: 30px !important;
    height: 30px !important;
    padding-left: 70px;
    padding-top: 4px;
}

md-toolbar.js-bottom-toolbar {
    position: absolute;
    bottom: 0;
    min-height: 20px !important;
    height: 20px !important;
}

md-tabs.main-tabs {
    position: static !important;
}

md-datepicker {
    padding-top: 14px;
}

md-tooltip.md-content {
    background-color: rgba(70, 70, 70, 0.90);
}