#login-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../common/background.jpg);
    background-size: cover;
}

#login-frame {
    width: 350px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.radius-inherit {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

