<script type="text/javascript">
    if (typeof appModule === 'undefined') {
        document.location.href = "/";
    }
</script>
<div id="js-body" ng-cloak="">
    <md-toolbar class="md-menu-toolbar">
        <div layout="row">
            <md-toolbar-filler layout="" layout-align="center center">
                <i class="material-icons md-48">sort</i>
            </md-toolbar-filler>
            <div>
                <div class="js-toolbar-tools md-toolbar-tools">
                    {{ctrl.order.name}}
                </div>
                <md-menu-bar>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            File
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogNewOrder()">New order</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogOpenProductionPlan()">Open production plan</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder()">Save as</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button print-btn>Print</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            View
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.toggleToolbar()">Show toolbar</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.errorTest()">Show resources</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Show jobs</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Show timeline</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            Edit
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.openOrdersWorkspace()">Orders</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.openProductsWorkspace()">Products</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.openResourcesWorkspace()">Resources</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Arrange</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Lock</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Share</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            Resources
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogAddResource()">Add</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Delete</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Edit</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Import</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Share</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            Products
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogAddJob()">Add</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Delete</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Edit</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Import</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.showNewOrder($event)">Share</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
            <span flex></span>
            <div layout="" layout-align="end end">
                <md-button class="md-raised md-primary" ng-click="ctrl.showSignIn()" ng-hide="authenticated">
                    Sign in
                </md-button>
                <md-button class="md-accent md-primary" ng-click="ctrl.logout()" ng-show="authenticated">
                    Sign out
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div id="js-page-container">
        <div id="js-production-plan" class="js-main-workspace" ng-show="ctrl.showWorkspace.productionPlan">
            <md-tabs class="md-accent main-tabs" md-align-tabs="bottom" md-stretch-tabs='always'>
                <md-tab>
                    <md-tab-label>
                        Schedule
                    </md-tab-label>
                    <md-tab-body>
                        <md-toolbar class="js-toolbar" layout="row" ng-show="ctrl.showToolbar">
                            <div class="js-button" ng-click="ctrl.newPerson()">
                                <i class="material-icons md-18">undo</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.undo()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Undo
                                </md-tooltip>
                                <i class="material-icons md-18">undo</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.redo()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Redo
                                </md-tooltip>
                                <i class="material-icons md-18">redo</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.toggleLockTimeline()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Lock timeline
                                </md-tooltip>
                                <i class="material-icons md-18">{{timelineLocked ? 'lock_outline' : 'lock_open'}}</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.focusTimeline()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Fit timeline
                                </md-tooltip>
                                <i class="material-icons md-18-90deg">vertical_align_center</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.toggleSnappingTimeline()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Snap to time
                                </md-tooltip>
                                <i class="material-icons md-18">keyboard_tab</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.showCurrentTime()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Current time
                                </md-tooltip>
                                <i class="material-icons md-18">access_time</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.addJobsToOrder()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Add job to order
                                </md-tooltip>
                                <i class="material-icons md-18">add</i>
                            </div>
                        </md-toolbar>
                        <div id="js-timeline" print-section></div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tabl-label>
                        Orders
                    </md-tabl-label>
                    <md-tab-body>
                        <div layout='row'
                             layout-padding
                             layout-align="start center"
                             md-colors="{background: 'accent-200'}">
                            <h4 class="no-margin" flex="20">Name</h4>
                            <h4 class="no-margin" flex="50">Description</h4>
                            <h4 class="no-margin" flex="10">Due date</h4>
                            <h4 class="no-margin" flex="10">Created</h4>
                            <h4 class="no-margin" flex="10">Edited</h4>
                        </div>
                        <div class="scrollable">
                            <div ng-repeat='order in ctrl.productionPlan.orders' layout="column">
                                <md-divider></md-divider>
                                <div class="pointer"
                                     layout='row'
                                     layout-padding
                                     layout-align="start center"
                                     ng-click="ctrl.extendOrder(order.id)">
                                    <div flex="20">
                                        {{order.name}}
                                    </div>
                                    <div flex="50">
                                        {{order.description}}
                                    </div>
                                    <div flex="10">
                                        {{order.dueDate | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                    <div flex="10">
                                        {{order.createdOn | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                    <div flex="10">
                                        {{order.editedOn | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                </div>
                                <md-divider ng-show="ctrl.extendedOrderId == order.id"></md-divider>
                                <div layout="row"
                                     layout-align="center start"
                                     ng-show="ctrl.extendedOrderId == order.id">
                                    <div layout="column"
                                         flex="60">
                                        <div layout='row'
                                             layout-padding
                                             layout-align="center center"
                                             md-colors="{background: 'accent-100'}">
                                            <h5 class="no-margin" flex="35">Name</h5>
                                            <h5 class="no-margin" flex="50">Description</h5>
                                            <h5 class="no-margin" flex="15">Amount</h5>
                                        </div>
                                        <div ng-repeat="product in order.products"
                                             layout="column">
                                            <md-divider></md-divider>
                                            <div layout='row'
                                                 layout-padding
                                                 layout-align="center center">
                                                <div flex="35">
                                                    {{product.name}}
                                                </div>
                                                <div flex="50">
                                                    {{product.description}}
                                                </div>
                                                <div flex="15">
                                                    {{product.amount}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>

        <div id="js-orders"
             class="js-main-workspace"
             ng-controller="ordersController as orderCtrl"
             ng-show="ctrl.showWorkspace.orders">
            <md-toolbar class="js-toolbar-workspace">
                <div class="md-toolbar-tools">
                    <h2>Edit Orders</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.closeWorkspace()">
                        <i class="material-icons md-18">close</i>
                    </md-button>
                </div>
            </md-toolbar>
            <div class="js-edit-buttons-toolbar" layout="row" md-colors="{background: 'primary'}">
                <div layout="row" layout-align="start center">
                    <div class="js-button" ng-click="orderCtrl.newOrder()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            add new
                        </md-tooltip>
                        <i class="material-icons md-18">add</i>
                        <div class="js-button-label">new order</div>
                    </div>
                    <div class="js-button" ng-click="orderCtrl.removeOrders()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            delete selected
                        </md-tooltip>
                        <i class="material-icons md-18">delete_sweep</i>
                        <div class="js-button-label">delete selected</div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout='row'
                 layout-padding
                 layout-align="end center"
                 md-colors="{background: 'accent-200'}">
                <md-checkbox aria-label="label"
                             ng-checked="orderCtrl.isChecked()"
                             md-indeterminate="orderCtrl.isIndeterminate()"
                             ng-click="orderCtrl.toggleAll()">
                </md-checkbox>
                <div flex="90"
                     layout='row'>
                    <h4 class="no-margin" flex="20">Name</h4>
                    <h4 class="no-margin" flex="50">Description</h4>
                    <h4 class="no-margin" flex="10">Due date</h4>
                    <h4 class="no-margin" flex="10">Created</h4>
                    <h4 class="no-margin" flex="10">Edited</h4>
                </div>
                <div flex></div>
            </div>
            <div class="scrollable">
                <div ng-repeat='order in orderCtrl.orders' layout="column">
                    <md-divider></md-divider>
                    <div layout="row"
                         layout-padding
                         layout-align="end center">
                        <md-checkbox aria-label="label"
                                     ng-checked="orderCtrl.exists(order)"
                                     ng-click="orderCtrl.toggle(order)">
                        </md-checkbox>
                        <div class="pointer"
                             flex="90"
                             layout='row'
                             ng-click="orderCtrl.extendOrder(order.id)">
                            <div flex="20">
                                {{order.name}}
                            </div>
                            <div flex="50">
                                {{order.description}}
                            </div>
                            <div flex="10">
                                {{order.dueDate | date : 'dd.MM.yy HH:mm'}}
                            </div>
                            <div flex="10">
                                {{order.createdOn | date : 'dd.MM.yy HH:mm'}}
                            </div>
                            <div flex="10">
                                {{order.editedOn | date : 'dd.MM.yy HH:mm'}}
                            </div>
                        </div>
                        <div flex layout="row" style="padding: 0">
                            <div>
                                <md-button class="md-fab md-primary md-mini"
                                           ng-click="orderCtrl.editOrder(order)">
                                    <i class="material-icons md-24">mode_edit</i>
                                </md-button>
                                <md-button class="md-fab md-primary md-mini"
                                           ng-click="orderCtrl.removeOrder(order)">
                                    <i class="material-icons md-24">delete</i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                    <md-divider ng-show="orderCtrl.extendedOrderId == order.id"></md-divider>
                    <div layout="row"
                         layout-align="center start">
                        <div layout="column"
                             flex="70"
                             ng-show="orderCtrl.extendedOrderId == order.id">
                            <div layout='row'
                                 layout-padding
                                 layout-align="center center"
                                 md-colors="{background: 'accent-100'}">
                                <h5 class="no-margin" flex="35">Name</h5>
                                <h5 class="no-margin" flex="50">Description</h5>
                                <h5 class="no-margin" flex="15">Amount</h5>
                            </div>
                            <div ng-repeat="product in order.products"
                                 layout="column">
                                <md-divider></md-divider>
                                <div layout='row'
                                     layout-padding
                                     layout-align="center center">
                                    <div flex="35">
                                        {{product.name}}
                                    </div>
                                    <div flex="50">
                                        {{product.description}}
                                    </div>
                                    <div flex="15">
                                        {{product.amount}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="js-products"
             class="js-main-workspace"
             ng-controller="productsController as prodCtrl"
             ng-show="ctrl.showWorkspace.products">
            <md-toolbar class="js-toolbar-workspace">
                <div class="md-toolbar-tools">
                    <h2>Edit Products</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.closeWorkspace()">
                        <i class="material-icons md-18">close</i>
                    </md-button>
                </div>
            </md-toolbar>
            <div class="js-edit-buttons-toolbar" layout="row" md-colors="{background: 'primary'}">
                <div layout="row" layout-align="start center">
                    <div class="js-button" ng-click="prodCtrl.newProduct()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            add new
                        </md-tooltip>
                        <i class="material-icons md-18">add</i>
                        <div class="js-button-label">new product</div>
                    </div>
                    <div class="js-button" ng-click="prodCtrl.removeProducts()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            delete selected
                        </md-tooltip>
                        <i class="material-icons md-18">delete_sweep</i>
                        <div class="js-button-label">delete selected</div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout='row'
                 layout-padding
                 layout-align="end center"
                 md-colors="{background: 'accent-200'}">
                <md-checkbox aria-label="label"
                             ng-checked="prodCtrl.isChecked()"
                             md-indeterminate="prodCtrl.isIndeterminate()"
                             ng-click="prodCtrl.toggleAll()">
                </md-checkbox>
                <div flex="90"
                     layout='row'>
                    <h4 class="no-margin" flex="20">Name</h4>
                    <h4 class="no-margin" flex="30">Description</h4>
                    <h4 class="no-margin" flex="10">Attribute 1</h4>
                    <h4 class="no-margin" flex="10">Attribute 2</h4>
                    <h4 class="no-margin" flex="10">Attribute 3</h4>
                    <h4 class="no-margin" flex="10">Created</h4>
                    <h4 class="no-margin" flex="10">Edited</h4>
                </div>
                <div flex></div>
            </div>
            <div class="scrollable">
                <div ng-repeat='product in prodCtrl.products' layout="column">
                    <md-divider></md-divider>
                    <div layout="row"
                         layout-padding
                         layout-align="end center">
                        <md-checkbox aria-label="label"
                                     ng-checked="prodCtrl.exists(product)"
                                     ng-click="prodCtrl.toggle(product)">
                        </md-checkbox>
                        <div class="pointer"
                             flex="90"
                             layout='row'
                             ng-click="prodCtrl.extendOrder(product.id)">
                            <div flex="20">
                                {{product.name}}
                            </div>
                            <div flex="30">
                                {{product.description}}
                            </div>
                            <div flex="10">
                                {{product.attribute1}}
                            </div>
                            <div flex="10">
                                {{product.attribute2}}
                            </div>
                            <div flex="10">
                                {{product.attribute3}}
                            </div>
                            <div flex="10">
                                {{product.createdOn | date : 'dd.MM.yy HH:mm'}}
                            </div>
                            <div flex="10">
                                {{product.editedOn | date : 'dd.MM.yy HH:mm'}}
                            </div>
                        </div>
                        <div flex layout="row" style="padding: 0">
                            <div>
                                <md-button class="md-fab md-primary md-mini"
                                           ng-click="prodCtrl.editProduct(product)">
                                    <i class="material-icons md-24">mode_edit</i>
                                </md-button>
                                <md-button class="md-fab md-primary md-mini"
                                           ng-click="prodCtrl.removeProduct(product)">
                                    <i class="material-icons md-24">delete</i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                <!--<div layout="row"-->
                     <!--layout-align="center start">-->
                    <!--<div layout="column"-->
                         <!--flex="80"-->
                         <!--ng-show="orderCtrl.extendedOrderId == order.id">-->
                        <!--<div layout='row'-->
                             <!--layout-padding-->
                             <!--layout-align="center center">-->
                            <!--<h5 class="no-margin" flex="35">Name</h5>-->
                            <!--<h5 class="no-margin" flex="50">Description</h5>-->
                            <!--<h5 class="no-margin" flex="15">Amount</h5>-->
                        <!--</div>-->
                        <!--<div ng-repeat="product in order.products"-->
                             <!--layout="column">-->
                            <!--<md-divider></md-divider>-->
                            <!--<div layout='row'-->
                                 <!--layout-padding-->
                                 <!--layout-align="center center">-->
                                <!--<div flex="35">-->
                                    <!--{{product.name}}-->
                                <!--</div>-->
                                <!--<div flex="50">-->
                                    <!--{{product.description}}-->
                                <!--</div>-->
                                <!--<div flex="15">-->
                                    <!--{{product.amount}}-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div id="js-resources"
             class="js-main-workspace"
             ng-controller="resourcesController as resCtrl"
             ng-show="ctrl.showWorkspace.resourceTypes">
            <md-toolbar class="js-toolbar-workspace">
                <div class="md-toolbar-tools">
                    <h2>Edit Resources</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.closeWorkspace()">
                        <i class="material-icons md-18">close</i>
                    </md-button>
                </div>
            </md-toolbar>
            <div class="js-edit-buttons-toolbar" layout="row" md-colors="{background: 'primary'}">
                <div layout="row" layout-align="start center">
                    <div class="js-button" ng-click="resCtrl.newResourceType()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            add new
                        </md-tooltip>
                        <i class="material-icons md-18">add</i>
                        <div class="js-button-label">new resource type</div>
                    </div>
                    <div class="js-button" ng-click="resCtrl.newResource()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            delete selected
                        </md-tooltip>
                        <i class="material-icons md-18">add</i>
                        <div class="js-button-label">new resource</div>
                    </div>
                    <div class="js-button" ng-click="resCtrl.removeResourceTypes()">
                        <md-tooltip md-direction="bottom" md-delay="1000">
                            delete selected
                        </md-tooltip>
                        <i class="material-icons md-18">delete_sweep</i>
                        <div class="js-button-label">delete selected</div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <md-content class="js-list">
                    <md-subheader md-colors="{background: 'accent-200'}">
                        <md-list-item>
                            <md-checkbox aria-label="label"
                                     ng-checked="resCtrl.isChecked()"
                                     md-indeterminate="resCtrl.isIndeterminate()"
                                     ng-click="resCtrl.toggleAll()">
                            </md-checkbox>
                            <div flex="85" layout="row">
                                <h4 class="no-margin" flex="25">Name</h4>
                                <h4 class="no-margin" flex="25">Description</h4>
                                <h4 class="no-margin" flex="25">Created</h4>
                                <h4 class="no-margin" flex="25">Edited</h4>
                            </div>
                        </md-list-item>
                    </md-subheader>
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item ng-repeat="resourceType in resCtrl.resourceTypes"
                                        ng-click="resCtrl.doSth()">
                            <md-checkbox aria-label="label"
                                         ng-checked="resCtrl.exists(resourceType)"
                                         ng-click="resCtrl.toggle(resourceType)">
                            </md-checkbox>
                            <div flex="85" layout="row">
                                <div flex="25">
                                    {{resourceType.name}}
                                </div>
                                <div flex="25">
                                    {{resourceType.description}}
                                </div>
                                <div flex="25">
                                    {{resourceType.createdOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                                <div flex="25">
                                    {{resourceType.editedOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                            </div>
                            <span flex></span>
                            <md-button class="md-fab md-primary md-mini"
                                       ng-click="resCtrl.editResourceType(resourceType)">
                                <i class="material-icons md-24">mode_edit</i>
                            </md-button>
                            <md-button class="md-fab md-primary md-mini"
                                       ng-click="resCtrl.removeResourceType(resourceType)">
                                <i class="material-icons md-24">delete</i>
                            </md-button>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>

                        <!--<div class="scrollable">-->
                            <!--<div ng-repeat='resourceType in resCtrl.resourceTypes' layout="column">-->
                                <!--<md-divider></md-divider>-->
                                <!--<div layout="row"-->
                                     <!--layout-padding-->
                                     <!--layout-align="end center">-->
                                    <!--<md-checkbox aria-label="label"-->
                                                 <!--ng-checked="resCtrl.exists(resourceType)"-->
                                                 <!--ng-click="resCtrl.toggle(resourceType)">-->
                                    <!--</md-checkbox>-->
                                    <!--<div class="pointer"-->
                                         <!--flex="90"-->
                                         <!--layout='row'-->
                                         <!--ng-click="resCtrl.extendResType(resourceType.id)">-->
                                        <!--<div flex="20">-->
                                            <!--{{resourceType.name}}-->
                                        <!--</div>-->
                                        <!--<div flex="50">-->
                                            <!--{{resourceType.description}}-->
                                        <!--</div>-->
                                        <!--<div flex="10">-->
                                            <!--{{resourceType.createdOn | date : 'dd.MM.yy HH:mm'}}-->
                                        <!--</div>-->
                                        <!--<div flex="10">-->
                                            <!--{{resourceType.editedOn | date : 'dd.MM.yy HH:mm'}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div flex layout="row" style="padding: 0">-->
                                        <!--<div>-->
                                            <!--<md-button class="md-fab md-primary md-mini"-->
                                                       <!--ng-click="resCtrl.editResourceType(resourceType)">-->
                                                <!--<i class="material-icons md-24">mode_edit</i>-->
                                            <!--</md-button>-->
                                            <!--<md-button class="md-fab md-primary md-mini"-->
                                                       <!--ng-click="resCtrl.removeResourceType(resourceType)">-->
                                                <!--<i class="material-icons md-24">delete</i>-->
                                            <!--</md-button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<md-divider ng-show="resCtrl.extendedResTypeId == resourceType.id"></md-divider>-->
                                <!--<div layout="row"-->
                                     <!--layout-align="center start"-->
                                     <!--ng-show="resCtrl.extendedResTypeId == resourceType.id">-->
                                    <!--<div layout="column"-->
                                         <!--flex="90">-->
                                        <!--<div layout='row'-->
                                             <!--layout-padding-->
                                             <!--layout-align="start center"-->
                                             <!--md-colors="{background: 'accent-100'}">-->
                                            <!--<h5 class="no-margin" flex="20">Name</h5>-->
                                            <!--<h5 class="no-margin" flex="30">Description</h5>-->
                                            <!--<h5 class="no-margin" flex="10">Cost per hour</h5>-->
                                            <!--<h5 class="no-margin" flex="10">efficiency</h5>-->
                                            <!--<h5 class="no-margin" flex="15">Created</h5>-->
                                            <!--<h5 class="no-margin" flex="15">Edited</h5>-->
                                            <!--<h5 class="no-margin" flex="10"></h5>-->
                                        <!--</div>-->
                                        <!--<div ng-repeat="resource in resourceType.resources"-->
                                             <!--layout="column">-->
                                            <!--<md-divider></md-divider>-->
                                            <!--<div layout='row'-->
                                                 <!--layout-padding-->
                                                 <!--layout-align="start center">-->
                                                <!--<div flex="20">-->
                                                    <!--{{resource.name}}-->
                                                <!--</div>-->
                                                <!--<div flex="30">-->
                                                    <!--{{resource.description}}-->
                                                <!--</div>-->
                                                <!--<div flex="10">-->
                                                    <!--{{resource.costPerHour}}-->
                                                <!--</div>-->
                                                <!--<div flex="10">-->
                                                    <!--{{resource.efficiency}}-->
                                                <!--</div>-->
                                                <!--<div flex="15">-->
                                                    <!--{{resource.createdOn | date : 'dd.MM.yy HH:mm'}}-->
                                                <!--</div>-->
                                                <!--<div flex="15">-->
                                                    <!--{{resource.editedOn | date : 'dd.MM.yy HH:mm'}}-->
                                                <!--</div>-->
                                                <!--<div flex="10">-->
                                                    <!--<md-button class="md-fab md-accent md-mini"-->
                                                               <!--ng-click="resCtrl.editResource(resource)">-->
                                                        <!--<i class="material-icons md-24">mode_edit</i>-->
                                                    <!--</md-button>-->
                                                    <!--<md-button class="md-fab md-accent md-mini"-->
                                                               <!--ng-click="resCtrl.removeResource(resource)">-->
                                                        <!--<i class="material-icons md-24">delete</i>-->
                                                    <!--</md-button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                </md-content>
        </div>
    </div>
    <!--<md-toolbar class="js-bottom-toolbar">-->
        <!--<div ng-hide="ctrl.authenticated">-->
            <!--<h5 class="no-margin">You are not logged in</h5>-->
        <!--</div>-->
        <!--<div ng-show="ctrl.authenticated">-->
            <!--<h5 class="no-margin">Welcome {{ctrl.nam}} {{ctrl.sur}} ({{ctrl.log}})</h5>-->
        <!--</div>-->
    <!--</md-toolbar>-->
</div>
