<script type="text/javascript">
    if (typeof appModule === 'undefined') {
        document.location.href = "/";
    }
</script>
<div id="js-body" ng-cloak="">
    <md-toolbar class="md-menu-toolbar" ng-show="ctrl.showWorkspace.productionPlanTool">
        <div layout="row">
            <md-toolbar-filler layout="" layout-align="center center">
                <i class="material-icons md-48">sort</i>
            </md-toolbar-filler>
            <div>
                <div class="js-toolbar-tools md-toolbar-tools">
                    {{ctrl.productionPlan.name}}
                </div>
                <md-menu-bar>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            File
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogNewProductionPlan()">New production plan</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogOpenProductionPlan()">Open production plan</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            Production plan
                        </button>
                        <md-menu-content>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button class="menu-button" ng-click="$mdOpenMenu()">
                            Manage
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="ctrl.dialogEditProductionPlan()">Production plan</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.openOrdersWorkspace()">Orders</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.openProductsWorkspace()">Products</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="ctrl.openResourcesWorkspace()">Resources</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
            <span flex></span>
            <div layout="" layout-align="end end">
                <md-button class="md-raised md-primary" ng-click="ctrl.logout()">
                    Sign out
                </md-button>
            </div>
        </div>
    </md-toolbar>
    <div id="js-page-container" ng-class="ctrl.showWorkspace.productionPlan ? '' : 'extended'">
        <div id="js-production-plan" class="js-main-workspace" ng-show="ctrl.showWorkspace.productionPlan">
            <md-tabs class="md-accent main-tabs" md-align-tabs="bottom" md-stretch-tabs='always'>
                <md-tab>
                    <md-tab-label>
                        Schedule
                    </md-tab-label>
                    <md-tab-body>
                        <md-toolbar print-hide class="js-toolbar" layout="row">
                            <div class="js-button" ng-click="ctrl.undo()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Undo
                                </md-tooltip>
                                <i class="material-icons md-18">undo</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.redo()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Redo
                                </md-tooltip>
                                <i class="material-icons md-18">redo</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.toggleLockTimeline()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Lock timeline
                                </md-tooltip>
                                <i class="material-icons md-18">{{ctrl.timelineLocked ? 'lock_outline' : 'lock_open'}}</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.focusTimeline()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Fit timeline to items
                                </md-tooltip>
                                <i class="material-icons md-18">zoom_out_map</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.toggleSnappingTimeline()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Snap to time
                                </md-tooltip>
                                <i class="material-icons md-18">keyboard_tab</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.showCurrentTime()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Show current time
                                </md-tooltip>
                                <i class="material-icons md-18">access_time</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.goToCurrentTime()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Go to current time
                                </md-tooltip>
                                <i class="material-icons md-18-90deg">vertical_align_center</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.toogleZoomKey()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Enable/disable soom key
                                </md-tooltip>
                                <i class="material-icons md-18">keyboard</i>
                            </div>
                            <div class="js-button" print-btn>
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Print visible timeline content
                                </md-tooltip>
                                <i class="material-icons md-18">print</i>
                            </div>
                            <div class="js-button" ng-click="ctrl.addJobsToOrder()">
                                <md-tooltip md-direction="bottom" md-delay="1000">
                                    Add order to plan
                                </md-tooltip>
                                <i class="material-icons md-18">add</i>
                            </div>
                        </md-toolbar>
                        <div id="js-timeline" print-section></div>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tabl-label>
                        Orders
                    </md-tabl-label>
                    <md-tab-body>
                        <div layout='row'
                             layout-padding
                             layout-align="start center"
                             md-colors="{background: 'accent-200'}">
                            <h4 class="no-margin" flex="20">Name</h4>
                            <h4 class="no-margin" flex="50">Description</h4>
                            <h4 class="no-margin" flex="10">Due date</h4>
                            <h4 class="no-margin" flex="10">Created</h4>
                            <h4 class="no-margin" flex="10">Edited</h4>
                        </div>
                        <div class="scrollable">
                            <div ng-repeat='order in ctrl.productionPlan.orders' layout="column">
                                <md-divider></md-divider>
                                <div class="pointer"
                                     layout='row'
                                     layout-padding
                                     layout-align="start center"
                                     ng-click="ctrl.extendOrder(order.id)">
                                    <div flex="20">
                                        {{order.name}}
                                    </div>
                                    <div flex="50">
                                        {{order.description}}
                                    </div>
                                    <div flex="10">
                                        {{order.dueDate | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                    <div flex="10">
                                        {{order.createdOn | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                    <div flex="10">
                                        {{order.editedOn | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                </div>
                                <md-divider ng-show="ctrl.extendedOrderId == order.id"></md-divider>
                                <div layout="row"
                                     layout-align="center start"
                                     ng-show="ctrl.extendedOrderId == order.id">
                                    <div layout="column"
                                         flex="60">
                                        <div layout='row'
                                             layout-padding
                                             layout-align="center center"
                                             md-colors="{background: 'accent-100'}">
                                            <h5 class="no-margin" flex="35">Name</h5>
                                            <h5 class="no-margin" flex="50">Description</h5>
                                            <h5 class="no-margin" flex="15">Amount</h5>
                                        </div>
                                        <div ng-repeat="product in order.products"
                                             layout="column">
                                            <md-divider></md-divider>
                                            <div layout='row'
                                                 layout-padding
                                                 layout-align="center center">
                                                <div flex="35">
                                                    {{product.name}}
                                                </div>
                                                <div flex="50">
                                                    {{product.description}}
                                                </div>
                                                <div flex="15">
                                                    {{product.amount}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>

        <div id="js-orders"
             class="js-main-workspace"
             ng-controller="ordersController as orderCtrl"
             ng-show="ctrl.showWorkspace.orders">
            <md-toolbar >
                <div layout="row">
                    <md-toolbar-filler layout="" layout-align="center center">
                        <i class="material-icons md-48">receipt</i>
                    </md-toolbar-filler>
                    <div class="md-toolbar-tools">
                        <h2 flex="15">Orders</h2>
                        <md-button class="js-icon" ng-click="orderCtrl.newOrder()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                add new order
                            </md-tooltip>
                            <md-icon class="material-icons md-24">add</md-icon>
                        </md-button>
                        <md-button class="js-icon" ng-click="orderCtrl.removeOrders()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                delete selected orders
                            </md-tooltip>
                            <md-icon class="material-icons md-24">delete_sweep</md-icon>
                        </md-button>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.closeWorkspace()">
                            <md-icon class="material-icons md-24">close</md-icon>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>
            <md-content class="js-list">
                <md-subheader md-colors="{background: 'accent-300'}">
                    <md-list-item>
                        <md-checkbox aria-label="label"
                                     ng-checked="orderCtrl.isChecked()"
                                     md-indeterminate="orderCtrl.isIndeterminate()"
                                     ng-click="orderCtrl.toggleAll()">
                        </md-checkbox>
                        <div flex="90"
                             layout='row'>
                            <h4 class="no-margin" flex="20">Name</h4>
                            <h4 class="no-margin" flex="50">Description</h4>
                            <h4 class="no-margin" flex="10">Due date</h4>
                            <h4 class="no-margin" flex="10">Created</h4>
                            <h4 class="no-margin" flex="10">Edited</h4>
                        </div>
                        <span style="width: 80px; height: 40px"></span>
                    </md-list-item>
                </md-subheader>
                <md-divider></md-divider>
                <md-list>
                    <div ng-repeat='order in orderCtrl.orders'>
                        <md-list-item ng-show="orderCtrl.extendedOrderId != order.id"
                                      ng-click="orderCtrl.extendOrder(order.id)">
                            <md-checkbox aria-label="label"
                                         ng-checked="orderCtrl.exists(order)"
                                         ng-click="orderCtrl.toggle(order)">
                            </md-checkbox>
                            <div flex="90" layout="row">
                                <div flex="20">
                                    {{order.name}}
                                </div>
                                <div flex="50">
                                    {{order.description}}
                                </div>
                                <div flex="10">
                                    {{order.dueDate | date : 'dd.MM.yy HH:mm'}}
                                </div>
                                <div flex="10">
                                    {{order.createdOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                                <div flex="10">
                                    {{order.editedOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                            </div>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="orderCtrl.editOrder(order)">
                                <md-icon class="material-icons md-24" >mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="orderCtrl.removeOrder(order)">
                                <md-icon class="material-icons md-24">delete</md-icon>
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-content>
        </div>

        <div id="js-products"
             class="js-main-workspace"
             ng-controller="productsController as prodCtrl"
             ng-show="ctrl.showWorkspace.products">
            <md-toolbar >
                <div layout="row">
                    <md-toolbar-filler layout="" layout-align="center center">
                        <i class="material-icons md-48">settings</i>
                    </md-toolbar-filler>
                    <div class="md-toolbar-tools">
                        <h2 flex="15">Products</h2>
                        <md-button class="js-icon" ng-click="prodCtrl.newProduct()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                add new product
                            </md-tooltip>
                            <md-icon class="material-icons md-24">add</md-icon>
                        </md-button>
                        <md-button class="js-icon" ng-click="prodCtrl.removeProducts()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                delete selected products
                            </md-tooltip>
                            <md-icon class="material-icons md-24">delete_sweep</md-icon>
                        </md-button>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.closeWorkspace()">
                            <md-icon class="material-icons md-24">close</md-icon>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>
            <md-content class="js-list">
                <md-subheader md-colors="{background: 'accent-300'}">
                    <md-list-item>
                        <md-checkbox aria-label="label"
                                     ng-checked="prodCtrl.isChecked()"
                                     md-indeterminate="prodCtrl.isIndeterminate()"
                                     ng-click="prodCtrl.toggleAll()">
                        </md-checkbox>
                        <div flex="90"
                             layout='row'>
                            <h4 class="no-margin" flex="20">Name</h4>
                            <h4 class="no-margin" flex="30">Description</h4>
                            <h4 class="no-margin" flex="10">Attribute 1</h4>
                            <h4 class="no-margin" flex="10">Attribute 2</h4>
                            <h4 class="no-margin" flex="10">Attribute 3</h4>
                            <h4 class="no-margin" flex="10">Created</h4>
                            <h4 class="no-margin" flex="10">Edited</h4>
                        </div>
                        <span style="width: 80px; height: 40px"></span>
                    </md-list-item>
                </md-subheader>
                <md-divider></md-divider>
                <md-list>
                    <div ng-repeat='product in prodCtrl.products'>
                        <md-list-item ng-show="prodCtrl.extendedProductId != product.id"
                                      ng-click="prodCtrl.extendProduct(product.id)">
                            <md-checkbox aria-label="label"
                                         ng-checked="prodCtrl.exists(product)"
                                         ng-click="prodCtrl.toggle(product)">
                            </md-checkbox>
                            <div flex="90" layout="row">
                                <div flex="20">
                                    {{product.name}}
                                </div>
                                <div flex="30">
                                    {{product.description}}
                                </div>
                                <div flex="10">
                                    {{product.attribute1}}
                                </div>
                                <div flex="10">
                                    {{product.attribute2}}
                                </div>
                                <div flex="10">
                                    {{product.attribute3}}
                                </div>
                                <div flex="10">
                                    {{product.createdOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                                <div flex="10">
                                    {{product.editedOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                            </div>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="prodCtrl.editProduct(product)">
                                <md-icon class="material-icons md-24" >mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="prodCtrl.removeProduct(product)">
                                <md-icon class="material-icons md-24">delete</md-icon>
                            </md-button>
                        </md-list-item>
                        <md-content class="sub-list" style="margin: 16px" ng-show="prodCtrl.extendedProductId == product.id">
                            <md-subheader ng-click="prodCtrl.extendProduct(product.id)">
                                <div layout="column">
                                    <div class="js-side-padding"
                                         layout="row"
                                         layout-align="center center"
                                         md-colors="{background: 'accent-300'}">
                                        <h2 class="js-margin-16">{{product.name}} operations</h2>
                                    </div>
                                    <md-divider></md-divider>
                                    <div class="js-side-padding"
                                         layout="row"
                                         md-colors="{background: 'accent-200'}">
                                        <h4 class="js-margin-16" flex="20">Name</h4>
                                        <h4 class="js-margin-16" flex="40">Description</h4>
                                        <h4 class="js-margin-16" flex="10">Duration</h4>
                                        <h4 class="js-margin-16" flex="10">Preparation</h4>
                                        <h4 class="js-margin-16" flex="20">Resource</h4>
                                    </div>
                                </div>
                            </md-subheader>
                            <md-divider></md-divider>
                            <div ng-repeat="productOperation in product.productOperations"
                                 layout="column">
                                <div class="js-side-padding"
                                     layout='row'
                                     layout-align="start center">
                                    <div flex="20">
                                        {{productOperation.name}}
                                    </div>
                                    <div flex="40">
                                        {{productOperation.description}}
                                    </div>
                                    <div flex="10">
                                        {{productOperation.duration}}
                                    </div>
                                    <div flex="10">
                                        {{productOperation.preparationDuration}}
                                    </div>
                                    <div flex="20">
                                        {{prodCtrl.findResource(productOperation.resourceId).name}}
                                    </div>
                                </div>
                                <md-divider></md-divider>
                            </div>
                        </md-content>
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-content>
        </div>

        <div id="js-resources"
             class="js-main-workspace"
             ng-controller="resourcesController as resCtrl"
             ng-show="ctrl.showWorkspace.resourceTypes">
            <md-toolbar>
                <div layout="row">
                    <md-toolbar-filler layout="" layout-align="center center">
                        <i class="material-icons md-48">settings</i>
                    </md-toolbar-filler>
                    <div class="md-toolbar-tools">
                        <h2 flex="15">Resource types</h2>
                        <md-button class="js-icon" ng-click="resCtrl.newResourceType()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                add new resource type
                            </md-tooltip>
                            <md-icon class="material-icons md-24">create_new_folder</md-icon>
                        </md-button>
                        <md-button class="js-icon" ng-click="resCtrl.newResource()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                add new resource
                            </md-tooltip>
                            <md-icon class="material-icons md-24">add</md-icon>
                        </md-button>
                        <md-button class="js-icon" ng-click="resCtrl.removeResourceTypes()">
                            <md-tooltip md-direction="bottom" md-delay="1000">
                                delete selected resource types
                            </md-tooltip>
                            <md-icon class="material-icons md-24">delete_sweep</md-icon>
                        </md-button>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="ctrl.closeWorkspace()">
                            <md-icon class="material-icons md-24">close</md-icon>
                        </md-button>
                    </div>
                </div>
            </md-toolbar>
            <md-content class="js-list">
                <md-subheader md-colors="{background: 'accent-300'}">
                    <md-list-item>
                        <md-checkbox aria-label="label"
                                 ng-checked="resCtrl.isChecked()"
                                 md-indeterminate="resCtrl.isIndeterminate()"
                                 ng-click="resCtrl.toggleAll()">
                        </md-checkbox>
                        <div flex="90" layout="row">
                            <h4 class="no-margin" flex="30">Name</h4>
                            <h4 class="no-margin" flex="40">Description</h4>
                            <h4 class="no-margin" flex="10">Resources</h4>
                            <h4 class="no-margin" flex="10">Created</h4>
                            <h4 class="no-margin" flex="10">Edited</h4>
                        </div>
                        <span style="width: 80px; height: 40px"></span>
                    </md-list-item>
                </md-subheader>
                <md-divider></md-divider>
                <md-list>
                    <div  ng-repeat="resourceType in resCtrl.resourceTypes">
                        <md-list-item ng-show="resCtrl.extendedResTypeId != resourceType.id"
                                      ng-click="resCtrl.extendResType(resourceType.id)">
                            <md-checkbox aria-label="label"
                                         ng-checked="resCtrl.exists(resourceType)"
                                         ng-click="resCtrl.toggle(resourceType)">
                            </md-checkbox>
                            <div flex="90" layout="row">
                                <div flex="30">
                                    {{resourceType.name}}
                                </div>
                                <div flex="40">
                                    {{resourceType.description}}
                                </div>
                                <div flex="10">
                                    {{resourceType.resources.length}}
                                </div>
                                <div flex="10">
                                    {{resourceType.createdOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                                <div flex="10">
                                    {{resourceType.editedOn | date : 'dd.MM.yy HH:mm'}}
                                </div>
                            </div>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="resCtrl.editResourceType(resourceType)">
                                <md-icon class="material-icons md-24" >mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="resCtrl.removeResourceType(resourceType)">
                                <md-icon class="material-icons md-24">delete</md-icon>
                            </md-button>
                        </md-list-item>
                        <md-content class="sub-list" style="margin: 16px" ng-show="resCtrl.extendedResTypeId == resourceType.id">
                            <md-subheader ng-click="resCtrl.extendResType(resourceType.id)">
                                <div layout="column">
                                    <div class="js-side-padding"
                                         layout="row"
                                         layout-align="center center"
                                         md-colors="{background: 'accent-300'}">
                                        <h2 class="js-margin-16">{{resourceType.name}} resources</h2>
                                    </div>
                                    <md-divider></md-divider>
                                    <div class="js-side-padding"
                                         layout="row"
                                         md-colors="{background: 'accent-200'}">
                                        <h4 class="js-margin-16" flex="20">Name</h4>
                                        <h4 class="js-margin-16" flex="40">Description</h4>
                                        <h4 class="js-margin-16" flex="10">Cost per hour</h4>
                                        <h4 class="js-margin-16" flex="10">efficiency</h4>
                                        <h4 class="js-margin-16" flex="10">Created</h4>
                                        <h4 class="js-margin-16" flex="10">Edited</h4>
                                        <span style="width: 80px; height: 40px"></span>
                                    </div>
                                </div>
                            </md-subheader>
                            <md-divider></md-divider>
                            <div ng-repeat="resource in resourceType.resources"
                                 layout="column">
                                <div class="js-side-padding"
                                     layout='row'
                                     layout-align="start center">
                                    <div flex="20">
                                        {{resource.name}}
                                    </div>
                                    <div flex="40">
                                        {{resource.description}}
                                    </div>
                                    <div flex="10">
                                        {{resource.costPerHour}}
                                    </div>
                                    <div flex="10">
                                        {{resource.efficiency}}
                                    </div>
                                    <div flex="10">
                                        {{resource.createdOn | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                    <div flex="10">
                                        {{resource.editedOn | date : 'dd.MM.yy HH:mm'}}
                                    </div>
                                    <md-button class="md-icon-button" ng-click="resCtrl.editResource(resource)">
                                        <md-icon class="material-icons md-24" >mode_edit</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-click="resCtrl.removeResource(resource)">
                                        <md-icon class="material-icons md-24" >delete</md-icon>
                                    </md-button>
                                </div>
                                <md-divider></md-divider>
                            </div>
                        </md-content>
                        <md-divider></md-divider>
                    </div>
                </md-list>
            </md-content>
        </div>
    </div>
    <md-toolbar class="js-bottom-toolbar">
    </md-toolbar>
</div>
