<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Open order</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons md-18">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding style="max-width:800px;max-height:810px; min-width:550px ">
      	<div class="radioDemo2 radioButtondemoMultiColumn">
		    <md-grid-list md-cols="3" md-gutter="1em" md-row-height="4:1">
  				<md-grid-tile ng-class="selectedOrderId == order.orderId ? 'selected' : 'custom'" ng-repeat='order in orders' ng-click="select(order.orderId)">
  				{{order.name}}, {{order.orderId}}
				</md-grid-tile>
			</md-grid-list>
		</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-accent" ng-click="cancel()">
        cancel
      </md-button>
      <md-button class="md-raised md-accent" ng-click="answer()">
        open
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>