<md-dialog ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new Job</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons md-18">close</i>
        </md-button>
      </div>
    </md-toolbar>

	<md-dialog-content style="max-width:800px;max-height:810px; min-width:400px ">
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="general">
		    	<md-content class="md-padding">
				   <div layout="row" layout-padding>
				     <md-content flex layout="column" layout-align="start start">
				       <md-input-container>
				         <label>Job name</label>
				         <input type="text" ng-model="dad.jobName">
				       </md-input-container>
				       <md-input-container>
				         <label>Description</label>
				         <input type="text" ng-model="dad.jobColor">
				       </md-input-container>
				       <md-checkbox ng-model="checked">
				         Tasks in order
				      </md-checkbox>
				     </md-content>
				     <md-content flex layout="column" layout-align="start start" style="max-height: 300px">
				       	<md-checkbox ng-repeat="task in dad.tasks">
				       		{{task.content}}
				       	</md-checkbox>
				      </md-content>
				    	<md-content flex layout="" layout-align="center start" ng-show="checked" style="max-height: 300px">
				          	<div class="sortable-row" as-sortable="board.dragControlListeners" data-ng-model="dad.tasks" >
				 				<div ng-repeat="task in dad.tasks" as-sortable-item>
				 				    <div as-sortable-item-handle class="sortable">
				    				{{task.content}}
				    				</div>
				 				</div>
							</div>
				      	</md-content>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="durations">
				<!--  <md-content style="max-height: 300px">
					<md-list>
						<md-list-item class="md-1-line" ng-repeat="task in dad.tasks">
					        <div style="padding-bottom: 10px">
					          	<h4>{{ task.content }}</h4>
					        </div>
					        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<md-input-container class="dialog-input" style="max-height:35px">
        						<input type="time">
        					</md-input-container>
        				</md-list-item>
					</md-list>
				</md-content>-->
			    <md-content layout="column" layout-padding ng-repeat="task in dad.tasks">
			       	<div layout="row">
			       		<md-content flex>
			       			{{task.content}}
			       		</md-content>
			       		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			       		<md-content flex>
        					<input type="time" style="border: none;">
        				</md-content>
				 	</div>
					<md-divider ng-if="!$last" style="padding:0px"></md-divider>
			     </md-content>
			</md-tab>
		</md-tabs>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-accent" ng-click="answer(dad.tasks, dad.jobName)">
        finished
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
