/build/
/target/
/home/
/WebContent/bower_components/
/WebContent/vis/
/WebContent/WEB-INF/lib/
/.settings/
/.idea/
/WebContent/.idea/
/WebContent/libs/
/job_scheduler.iml
/javadoc/
/.project
/.classpath
/job_scheduler.iml